.App-header {
    /*background: linear-gradient(to left, #341f30, #341c19);*/
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: rosybrown;
    padding-bottom: 5px;

    width: 100vw;
    flex: 1;
}
/* background-color: #282c34; */

.App-header-button-container {
    flex-direction: row;
}

.App-header-button {
    border: none;
    background-color: #555;

    float: left;
    outline: thick;
    cursor: pointer;
    padding: 8px 24px;
    margin: 5px;
    font-size: 17px;
    text-decoration: none;

    border-radius: 25px;

    color: antiquewhite;
}

.App-header-button:hover {
    background-color: gray;
    color: black;
}

.social-links a {
    /*flex-direction: column;*/
    justify-content: space-between;
}