.App-about {

}

.App-about-contact-form {
    padding-top: 30px;
}

.form-element, .App-about-contact-description {
    width: 15vw;
    margin-bottom: 10px;

    border-width: 0;
    border-radius: 2px;
    font-size: 15px;
    background-color: rosybrown;
    padding-left: 10px;
    color: antiquewhite;
}

::placeholder {
    color: antiquewhite;
    opacity: .75;
}

.form-element {
    padding-top: 5px;
    padding-bottom: 5px;
}

.App-about-contact-description {
    width: 30vw;
    height: 30vh;
    font-size: 12pt;
    resize: none;
    padding-top: 5px;
}

.App-about-contact-form-counter {
    text-align: right;
    margin-right: 15vw;
    font-size: 10pt;
    margin-top: 0;
}

.form-submit-button {
    margin-bottom: 5px;

    background-color: darkgreen; /* Green */
    border: none;
    color: antiquewhite;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
}

.form-submit-button:hover {
    background-color: darkolivegreen;
}

.form-submitted {
    display: none;
    font-size: 12px;
    margin: 0;
    color: salmon;
}

iframe {
    width: 0;
    height: 0;
    border: 0;
    display: none;
}