.App {
  min-height: 100vh;
  /*min-width: 100vw;*/
  /*max-width: 90vw;*/
  width: 100vw;
  height: fit-content;
  background-color: #333;
  text-align: center;
  color: white;
}

/* Each sub-page width constraints */
.App-contents {
  margin-left: 20vw;
  margin-right: 20vw;
}